# src/vic20u_asm.cfg
# Unexpanded VIC-20 PRG at $1001.  The first output word is the PRG load address.

MEMORY {
    LOADADDR: start = $0FFF, size = $0002, file = %O;
    RAM:      start = $1001, size = $0DFF, file = %O;
}

SEGMENTS {
    LOADADDR: load = LOADADDR, type = ro;
    STARTUP:  load = RAM,      type = ro;
    CODE:     load = RAM,      type = ro;
    RODATA:   load = RAM,      type = ro;
    BSS:      load = RAM,      type = bss, define = yes;
}
